.wrapper {
  margin: 40px;

  > h1 {
    font-size: 50px;
    font-weight: 700;
    color: blue;
  }

  .input {
    width: 220px;
    height: 40px;
    padding: 0px 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;

    &:focus {
      outline: none;
    }
  }
}

.buttonWrapper {
  width: 100%;
  z-index: 100;
}
